<!DOCTYPE html>
<html lang="ja">
<%- include('../partials/head') %>
<body>
<div class="page">

<%- include('../partials/header') %>

<!-- resultHead -->
<div class="resultHead">
  <div class="resultHead__header">
    <h1><span class="txt-strong txt-bold">銀座・有楽町・築地</span><span class="txt-strong">&nbsp;のお店</span></h1>
  </div>
  <div class="resultHead__body">
    <a href="#">
      <div class="button">
        <div class="button__container">
          <p class="ic-b ic-b--search txt-bold txt-s">さらに条件を絞り込む</p>
        </div>
      </div>
    </a>
  </div>
  <div class="resultHead__footer">
    <div class="flex flex-align_center">
      <div class="flex-item"><p class="txt-strong"><span class="txt-l txt-bold">123</span><span>&nbsp;件</span><span class="txt-xxxs">（1〜20件）</span></p></div>
      <div class="flex-item txt-right">
        <div class="dis-inlineBlock">
          <div class="ic ic--sort"></div>
          <p class="txt-xxxs txt-bold txt-light-strong">並び替え</p>
        </div>
        <div class="dis-inlineBlock mg-12l">
          <div class="ic ic--map"></div>
          <p class="txt-xxxs txt-bold txt-light-strong">地図で見る</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /resultHead -->

<!-- cassette -->
<div class="cassette">
  <a href="#" class="cassette__item">
    <article>
      <div class="cassette__container">
        <div class="media">
          <div class="media__left">
            <div class="imgBox imgBox--95">
                <img src="https://dummyimage.com/190x190/eee/ccc.png&text=dummy" alt="和ダイニング ○●○●">
            </div>
          </div>
          <div class="media__body">
            <div class="mg-10b">
              <p class="txt-default txt-xs">創作和食 居酒屋</p>
              <h2 class="txt-link txt-bold">和ダイニング ○●○●</h2>
            </div>
            <p class="txt-default txt-xs">地下鉄日比谷線日比谷駅 徒歩2分</p>
            <p class="txt-default txt-xs">予算:3500円</p>
          </div>
        </div>
      </div>
      <div class="cassette__container">
        <p class="txt-default txt-xs">大切な接待や記念日・宴会等。全室個室の落ち着いた空間で、旬を彩る日本料理が特別な時間を演出します。</p>
      </div>
      <div class="cassette__container">
        <div class="flex">
          <div class="flex-item">
            <p class="ic-b ic-b--star txt-light-strong txt-xs">あとで見る</p>
          </div>
          <div class="flex-item">
            <div class="txt-right">
              <div class="dis-inlineBlock">
                <p class="txt-xs">空席確認する</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </a>
  <a href="#" class="cassette__item">
    <article>
      <div class="cassette__container">
        <div class="media">
          <div class="media__left">
            <div class="imgBox imgBox--95">
                <img src="https://dummyimage.com/157x104/eee/ccc.png&text=dummy" alt="和ダイニング ○●○●">
            </div>
          </div>
          <div class="media__body">
            <div class="mg-10b">
              <p class="txt-default txt-xs">創作和食 居酒屋</p>
              <h2 class="txt-link txt-bold">和ダイニング ○●○●</h2>
            </div>
            <p class="txt-default txt-xs">地下鉄日比谷線日比谷駅 徒歩2分</p>
            <p class="txt-default txt-xs">予算:3500円</p>
          </div>
        </div>
      </div>
      <div class="cassette__container">
        <p class="txt-default txt-xs">大切な接待や記念日・宴会等。全室個室の落ち着いた空間で、旬を彩る日本料理が特別な時間を演出します。</p>
      </div>
      <div class="cassette__container">
        <div class="flex">
          <div class="flex-item">
            <p class="ic-b ic-b--star txt-light-strong txt-xs">あとで見る</p>
          </div>
          <div class="flex-item">
            <div class="txt-right">
              <div class="dis-inlineBlock">
                <p class="txt-xs">空席確認する</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </a>
  <a href="#" class="cassette__item">
    <article>
      <div class="cassette__container">
        <div class="media">
          <div class="media__left">
            <div class="imgBox imgBox--95">
                <img src="https://dummyimage.com/123x157/eee/ccc.png&text=dummy" alt="和ダイニング ○●○●">
            </div>
          </div>
          <div class="media__body">
            <div class="mg-10b">
              <p class="txt-default txt-xs">創作和食 居酒屋</p>
              <h2 class="txt-link txt-bold">和ダイニング ○●○●</h2>
            </div>
            <p class="txt-default txt-xs">地下鉄日比谷線日比谷駅 徒歩2分</p>
            <p class="txt-default txt-xs">予算:3500円</p>
          </div>
        </div>
      </div>
      <div class="cassette__container">
        <p class="txt-default txt-xs">大切な接待や記念日・宴会等。全室個室の落ち着いた空間で、旬を彩る日本料理が特別な時間を演出します。</p>
      </div>
      <div class="cassette__container">
        <div class="flex">
          <div class="flex-item">
            <p class="ic-b ic-b--star txt-light-strong txt-xs">あとで見る</p>
          </div>
          <div class="flex-item">
            <div class="txt-right">
              <div class="dis-inlineBlock">
                <p class="txt-xs">空席確認する</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </a>

  <!-- pager -->
  <div class="pager">
    <a href="#" class="pager__link pager__link--left">
      <span class="ic ic--arrow_prev ic--arrow_inactive"></span>
    </a>
    <div class="pager__number">1 / 99</div>
    <a href="#" class="pager__link pager__link--right">
      <span class="ic ic--arrow_next ic--arrow_active"></span>
    </a>
  </div>
  <!-- /pager -->

  <!-- list -->
  <ul class="list">
    <li class="list__item"><a href="#" class="list__link txt-s txt-dark">検索条件を変更</a></li>
    <li class="list__item"><a href="#" class="list__link txt-s txt-dark">チェックしたお店を見る</a></li>
  </ul>
  <!-- /list -->

</div>
<!-- /cassette -->


<%- include('../partials/footer') %>

</div>

<%- include('../partials/script') %>

</body>
</html>